SJSUSearchClient/resources/SearchOperationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.shim.edu/SearchOperationService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SearchOperationService" targetNamespace="http://www.shim.edu/SearchOperationService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.shim.edu/SearchOperationService/">
			<xsd:element name="searchrestraunts">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchrestrauntsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchrestrauntsresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
				</xsd:element>
				<xsd:element name="searchallrestraunts">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchallrestrauntsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchallrestrauntsresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchmovies">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
						<xsd:element name="param2" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchmoviesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchmoviesresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
				</xsd:element>
				<xsd:element name="searchallmovies">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
						 </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchallmoviesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchallmoviesresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		 <xsd:element name="searchnews">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchnewsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchnewsresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchallnews">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchallnewsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchallnewsresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
	      <xsd:element name="searchevents">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searcheventsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searcheventsresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			 <xsd:element name="searchallevents">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="param1" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="searchalleventsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="searchalleventsresult" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		  </xsd:schema>
	</wsdl:types>
 		<wsdl:message name="searchrestrauntsRequest">
		<wsdl:part name="parameters" element="tns:searchrestraunts">
  		  </wsdl:part>
		</wsdl:message>
			<wsdl:message name="searchrestrauntsResponse">
				<wsdl:part name="parameters" element="tns:searchrestrauntsResponse">
				</wsdl:part>
			</wsdl:message>
		<wsdl:message name="searchallrestrauntsRequest">
			<wsdl:part name="parameters" element="tns:searchallrestraunts">
  		 	 </wsdl:part>
		</wsdl:message>
		<wsdl:message name="searchallrestrauntsResponse">
			<wsdl:part name="parameters" element="tns:searchallrestrauntsResponse">
			</wsdl:part>
		</wsdl:message>	
		<wsdl:message name="searchmoviesRequest">
			<wsdl:part name="parameters" element="tns:searchmovies">
   	 		</wsdl:part>
		</wsdl:message>
		<wsdl:message name="searchmoviesResponse">
				<wsdl:part name="parameters" element="tns:searchmoviesResponse">
   		 		</wsdl:part>
				</wsdl:message>
		<wsdl:message name="searchallmoviesRequest">
			<wsdl:part name="parameters" element="tns:searchallmovies">
   	 		</wsdl:part>
		</wsdl:message>
		<wsdl:message name="searchallmoviesResponse">
			<wsdl:part name="parameters" element="tns:searchallmoviesResponse">
   		 	</wsdl:part>
		</wsdl:message>
		<wsdl:message name="searchnewsRequest">
		<wsdl:part name="parameters" element="tns:searchnews">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchnewsResponse">
		<wsdl:part name="parameters" element="tns:searchnewsResponse">
	</wsdl:part>
</wsdl:message>
<wsdl:message name="searchallnewsRequest">
		<wsdl:part name="parameters" element="tns:searchallnews">
	</wsdl:part>
</wsdl:message>
	<wsdl:message name="searchallnewsResponse">
		<wsdl:part name="parameters" element="tns:searchallnewsResponse">
	</wsdl:part>
</wsdl:message>
	<wsdl:message name="searcheventsRequest">
		<wsdl:part name="parameters" element="tns:searchevents">
    </wsdl:part>
</wsdl:message>
<wsdl:message name="searcheventsResponse">
		<wsdl:part name="parameters" element="tns:searcheventsResponse">
</wsdl:part>
</wsdl:message>
<wsdl:message name="searchalleventsRequest">
		<wsdl:part name="parameters" element="tns:searchallevents">
    </wsdl:part>
</wsdl:message>
<wsdl:message name="searchalleventsResponse">
		<wsdl:part name="parameters" element="tns:searchalleventsResponse">
</wsdl:part>
</wsdl:message>
<wsdl:portType name="SearchOperationService">
		<wsdl:operation name="searchrestraunts">
			<wsdl:input message="tns:searchrestrauntsRequest">
			</wsdl:input>
			<wsdl:output message="tns:searchrestrauntsResponse">
				</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchallrestraunts">
			<wsdl:input message="tns:searchallrestrauntsRequest">
			</wsdl:input>
			<wsdl:output message="tns:searchallrestrauntsResponse">
				</wsdl:output>
</wsdl:operation>

 <wsdl:operation name="searchmovies">
			<wsdl:input message="tns:searchmoviesRequest">
			</wsdl:input>
			<wsdl:output message="tns:searchmoviesResponse">
			</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchallmovies">
			<wsdl:input message="tns:searchallmoviesRequest">
			</wsdl:input>
			<wsdl:output message="tns:searchallmoviesResponse">
			</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchnews">
		<wsdl:input message="tns:searchnewsRequest">
		</wsdl:input>
		<wsdl:output message="tns:searchnewsResponse">
		</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchallnews">
		<wsdl:input message="tns:searchallnewsRequest">
		</wsdl:input>
		<wsdl:output message="tns:searchallnewsResponse">
		</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchevents">
   	<wsdl:input message="tns:searcheventsRequest">
	</wsdl:input>
	<wsdl:output message="tns:searcheventsResponse">
	</wsdl:output>
</wsdl:operation>
<wsdl:operation name="searchallevents">
   	<wsdl:input message="tns:searchalleventsRequest">
	</wsdl:input>
	<wsdl:output message="tns:searchalleventsResponse">
	</wsdl:output>
</wsdl:operation>
</wsdl:portType>
	<wsdl:binding name="SearchOperationServiceSOAP" type="tns:SearchOperationService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
				<wsdl:operation name="searchrestraunts">
					<soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchrestraunts"/>
						<wsdl:input>
							<soap:body use="literal"/>
							</wsdl:input>
						<wsdl:output>
					<soap:body use="literal"/>
					</wsdl:output>
				</wsdl:operation>
		<wsdl:operation name="searchallrestraunts">
			<soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchallrestraunts"/>
						<wsdl:input>
						<soap:body use="literal"/>
					</wsdl:input>
						<wsdl:output>
							<soap:body use="literal"/>
								</wsdl:output>
									</wsdl:operation>
		 						<wsdl:operation name="searchmovies">
		<soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchmovies"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchallmovies">
		<soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchallmovies"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		 
		  <wsdl:operation name="searchnews">
		  <soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchnews"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="searchallnews">
		  <soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchallnews"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchevents">
		
			<soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchevents"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchallevents">
		
			<soap:operation soapAction="http://www.shim.edu/SearchOperationService/searchallevents"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SearchOperationService">
		<wsdl:port name="SearchOperationServiceSOAP" binding="tns:SearchOperationServiceSOAP">
			<soap:address location="http://www.shim.edu"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
